In [1]:
# Import library
import pandas  as pd #Data manipulation
import numpy as np #Data manipulation
import matplotlib.pyplot as plt # Visualization
import seaborn as sns #Visualization
plt.rcParams['figure.figsize'] = [8,5]
plt.rcParams['font.size'] =14
plt.rcParams['font.weight']= 'bold'
sns.set_style('whitegrid')

In [34]:
df = pd.read_csv('input/weather.csv')
print('\nNumber of rows and columns in the data set: ',df.shape)
print('')

#Lets look into top few rows and columns in the dataset
df.head()

Number of rows and columns in the data set:  (14001, 21)

,SEASON,BASIN,SUBBASIN,NAME,ISO_TIME,LAT,LON,DIST2LAND,LANDFALL,WMO_WIND,...,NEWDELHI_WIND,NEWDELHI_PRES,NEWDELHI_DP,NEWDELHI_GRADE,REUNION_TYPE,REUNION_WIND,REUNION_PRES,REUNION_RMW,STORM_SPEED,STORM_DIR
0,2015,NI,AS,ASHOBAA,2015-06-06 06:00:00,13.10,68.5000,624,601.0,41.300746,...,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,8
1,2015,NI,AS,ASHOBAA,2015-06-06 09:00:00,13.45,68.5599,597,584.0,41.300746,...,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,8
2,2015,NI,AS,ASHOBAA,2015-06-06 12:00:00,13.80,68.6000,584,571.0,41.300746,...,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,3
3,2015,NI,AS,ASHOBAA,2015-06-06 15:00:00,14.15,68.6075,566,551.0,41.300746,...,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,0
4,2015,NI,AS,ASHOBAA,2015-06-06 18:00:00,14.50,68.6000,551,538.0,41.300746,...,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,358

In [35]:
import warnings

warnings.filterwarnings('ignore')

In [36]:
df.shape

(14001, 21)

In [37]:
col_names = df.columns

col_names

Index(['SEASON', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME', 'LAT', 'LON',
       'DIST2LAND', 'LANDFALL', 'WMO_WIND', 'WMO_PRES', 'NEWDELHI_WIND',
       'NEWDELHI_PRES', 'NEWDELHI_DP', 'NEWDELHI_GRADE', 'REUNION_TYPE',
       'REUNION_WIND', 'REUNION_PRES', 'REUNION_RMW', 'STORM_SPEED',
       'STORM_DIR'],
      dtype='object')

In [38]:
categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 6 categorical variables

The categorical variables are : ['BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME', 'NEWDELHI_GRADE', 'REUNION_TYPE']

In [39]:
df[categorical].head()

  BASIN SUBBASIN     NAME             ISO_TIME NEWDELHI_GRADE REUNION_TYPE
0    NI       AS  ASHOBAA  2015-06-06 06:00:00             CS          UNK
1    NI       AS  ASHOBAA  2015-06-06 09:00:00             CS          UNK
2    NI       AS  ASHOBAA  2015-06-06 12:00:00             CS          UNK
3    NI       AS  ASHOBAA  2015-06-06 15:00:00             CS          UNK
4    NI       AS  ASHOBAA  2015-06-06 18:00:00             CS          UNK

In [40]:
# check missing values in categorical variables

df[categorical].isnull().sum()

BASIN             0
SUBBASIN          0
NAME              0
ISO_TIME          0
NEWDELHI_GRADE    0
REUNION_TYPE      0
dtype: int64

In [41]:
cat1 = [var for var in categorical if df[var].isnull().sum()!=0]

print(df[cat1].isnull().sum())

Series([], dtype: float64)

In [42]:
for var in categorical: 
    
    print(df[var].value_counts())

BASIN
SI    10326
NI     2916
SP      502
WP      257
Name: count, dtype: int64
SUBBASIN
MM    6655
WA    3942
BB    1516
AS    1400
EA     488
Name: count, dtype: int64
NAME
NOT_NAMED    2013
FREDDY        240
NATHAN        181
CALVINIA      139
URIAH         131
             ...
GREG           15
HAMOON         15
ASHLEY         13
SITRANG        11
MIDHILI         7
Name: count, Length: 174, dtype: int64
ISO_TIME
21-01-2021 09:00    4
20-01-2021 00:00    4
20-01-2021 03:00    4
20-01-2021 12:00    4
20-01-2021 15:00    4
                   ..
11-04-2015 21:00    1
12-04-2015 00:00    1
12-04-2015 03:00    1
12-04-2015 06:00    1
22-05-2023 18:00    1
Name: count, Length: 10917, dtype: int64
NEWDELHI_GRADE
CS      12300
D         830
DD        375
VSCS      316
SVCS      154
SCS        25
LPA         1
Name: count, dtype: int64
REUNION_TYPE
UNK    8795
CS     1459
DD      970
SCS     816
DP      686
EXT     591
D       405
OL      233
STC      46
Name: count, dtype: int64

In [43]:
for var in categorical: 
    
    print(df[var].value_counts()/np.float64(len(df)))

BASIN
SI    0.737519
NI    0.208271
SP    0.035855
WP    0.018356
Name: count, dtype: float64
SUBBASIN
MM    0.475323
WA    0.281551
BB    0.108278
AS    0.099993
EA    0.034855
Name: count, dtype: float64
NAME
NOT_NAMED    0.143775
FREDDY       0.017142
NATHAN       0.012928
CALVINIA     0.009928
URIAH        0.009356
               ...
GREG         0.001071
HAMOON       0.001071
ASHLEY       0.000929
SITRANG      0.000786
MIDHILI      0.000500
Name: count, Length: 174, dtype: float64
ISO_TIME
21-01-2021 09:00    0.000286
20-01-2021 00:00    0.000286
20-01-2021 03:00    0.000286
20-01-2021 12:00    0.000286
20-01-2021 15:00    0.000286
                      ...
11-04-2015 21:00    0.000071
12-04-2015 00:00    0.000071
12-04-2015 03:00    0.000071
12-04-2015 06:00    0.000071
22-05-2023 18:00    0.000071
Name: count, Length: 10917, dtype: float64
NEWDELHI_GRADE
CS      0.878509
D       0.059281
DD      0.026784
VSCS    0.022570
SVCS    0.010999
SCS     0.001786
LPA     0.000071
Name: count, dtype: float64
REUNION_TYPE
UNK    0.628169
CS     0.104207
DD     0.069281
SCS    0.058282
DP     0.048997
EXT    0.042211
D      0.028927
OL     0.016642
STC    0.003285
Name: count, dtype: float64

In [44]:
for var in categorical:
    
    print(var, ' contains ', len(df[var].unique()), ' labels')

BASIN  contains  4  labels
SUBBASIN  contains  5  labels
NAME  contains  174  labels
ISO_TIME  contains  10917  labels
NEWDELHI_GRADE  contains  7  labels
REUNION_TYPE  contains  9  labels

In [45]:
df['ISO_TIME'].dtypes

dtype('O')

In [46]:
# extract year from date

df['Year'] = df['ISO_TIME'].dt.year

df['Year'].head()

AttributeError: Can only use .dt accessor with datetimelike values

In [33]:
df.head()

,SEASON,BASIN,SUBBASIN,NAME,LAT,LON,DIST2LAND,LANDFALL,WMO_WIND,WMO_PRES,NEWDELHI_WIND,NEWDELHI_PRES,NEWDELHI_DP,NEWDELHI_GRADE,REUNION_TYPE,REUNION_WIND,REUNION_PRES,REUNION_RMW,STORM_SPEED,STORM_DIR
0,2015,NI,AS,ASHOBAA,13.10,68.5000,624,601.0,41.300746,991.222042,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,8
1,2015,NI,AS,ASHOBAA,13.45,68.5599,597,584.0,41.300746,991.222042,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,8
2,2015,NI,AS,ASHOBAA,13.80,68.6000,584,571.0,41.300746,991.222042,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,3
3,2015,NI,AS,ASHOBAA,14.15,68.6075,566,551.0,41.300746,991.222042,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,0
4,2015,NI,AS,ASHOBAA,14.50,68.6000,551,538.0,41.300746,991.222042,40.558118,991.873412,991.873412,CS,UNK,43.471802,989.403054,21.626368,7,358